@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: min(10px, 1vw);
}

::-webkit-scrollbar-track {
  margin-inline: 2px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: slategray;
}

::-webkit-scrollbar-thumb:hover {
  background: slategray;
}

details {
  content-visibility: auto;
  contain-intrinsic-size: auto 500px;
}